body {
  font-family: "Lato", sans-serif;
}

header .navbar {
  background-color: #262626;
}

header a.nav-item.nav-link.active {
  color: #ff6760 !important;
}

header a.nav-item.nav-link {
  color: #d9d9d9 !important;
  text-transform: uppercase;
}

header a.nav-item.nav-link:hover {
  color: #ff6760 !important;
}

.introduce {
  color: #d9d9d9;
  background-color: #2a2a2a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.introduce h1 {
  font-size: 60px;
  font-weight: 100;
}

.introduce b {
  font-weight: bold;
}

.introduce p {
  font-size: 40px;
  font-weight: 100;
}

.introduce .introduce-button.btn.btn-danger {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ff6760;
  border-color: #ff6760;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  padding: .75rem .75rem
}

.introduce .introduce-button.btn.btn-danger:hover {
  background-color: #BD2130;
  border-color: #BD2130;
}

.features {
  font-size: 16px;
  background-color: #f8f8f8;
  color: #616161;
  padding: 40px;
}

.features h5 {
  font-weight: bold;
  font-size: 20px;
}

.features img {
  margin: 20px;
  height: 55px;
  width: 55px;
}

.featured-works {
  color: #616161;
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.featured-works h3 {
  font-size: 30px;
}

.featured-works img {
  margin: 5px;
}

.featured-works .nav-item {
  margin: 2.5px;
  padding: 2.5px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.featured-works .nav-pills .nav-link {
  color: #ffffff;
  background-color: #ff6760;
}

.featured-works .nav-pills .nav-link:hover {
  background-color: #BD2130;
  border-color: #BD2130;
}

.featured-works .nav-pills .nav-link.active {
  background-color: #595959;
}

.contact-info {
  font-size: 16px;
  color: #bebebe;
  background-color: #313131;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-info h3 {
  color: #e0e0e0;
  font-size: 30px;
}

.contact-info .address-phone img {
  height: 20px;
  width: 20px;
  margin: 5px;
}

.contact-info .socials img {
  width: 55px;
  height: 55px;
}

footer {
  color: #bebebe;
  background-color: #2c2c2c;
  padding-bottom: 5px;
  padding-top: 20px;
}
